html{
	font-size: 16px;
}

body {
	background-color: #D9BFF2;
}

.container, iframe {
	margin: 0 auto;
	width:20rem;
	padding-top: 1em
}
iframe{
	height:15rem;
}

input, textarea {
	width:15rem;
	background-color: #aaaaaa;
	margin-bottom: 1em;
}

label, #formsub{
	display:block;
	font-size: 1.15em;
	font-weight: bold;
}
#formsub{
	background-color: #c894fc;
	padding:.2em;
}
fieldset {
	padding:1rem 2rem 1rem 2rem;
	border:2px dashed white;
}

hr {
		border:1.5px dashed white;
		margin-bottom: 1rem;
}
legend {
	font-size: 1.5em;
	font-weight: lighter;
}