html{
	font-size: 16px;
}

body {
	background-color: #D9BFF2;
}

.container {
	margin: 0 auto;
	width:20rem;
	padding-top: 1em
}

input, textarea {
	width:15rem;
	background-color: #efe5ff;
}

label, #formsub{
	display:block;
	margin-top: 1em;
	font-size: 1.15em;
	font-weight: bold;
}
#formsub{
	background-color: #c894fc;
	padding:.2em;
}